* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;

    background-image: url(../img/Stelle\ wallpaper\ 4k.jpg);
    background-size: cover;
}

.box-time {
    width: 40%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 20px;

    background-image: url(../img/Immagini\ Bigbang\ 4k.jpg);
    background-size: cover;
    background-position: 0%;

    color: black;
}

.box-time h1 {
    padding: 10px 8px;

    border-radius: 20px;

    backdrop-filter: blur(8px);
    background-clip: padding-box;
}

.box-time .timing {
    padding: 10px 20px;

    font-size: 40px;

    border-radius: 20px;

    backdrop-filter: blur(8px);
    background-clip: padding-box;
}